<div class="container">
    <h2>プロフイール</h2>
    
    <hr>
    
    <%= image_tag(@user.image_url, width: '200') if @user.image? %>
    <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">Upload</label>
</div>
    
    <hr>
    
    <h5>ニックネーム</h5>
    <h6><%= @user.name %></h6>
   
    <hr>
    
     <span class="badge bg-light text-dark">エンジニア</span><span class="badge bg-secondary"></span>
     <span class="badge bg-light text-dark">周</span><span class="badge bg-secondary"></span>
    <span class="badge bg-light text-dark">バイト</span><span class="badge bg-secondary"></span>
    <hr> 
    
    <h5>やってきたこと</h5>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">やってきたこと</label>
    </div>
    
    <hr>
    <h5>伝えたいこと</h5>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
      <label for="floatingTextarea2">伝えたいこと</label>
    </div>
    
    <hr>
    
    <h5>登録メールアドレス</h5>
    <input class="form-control" type="text"  aria-label="default input example">
    
    <hr>
    <h5>生年月日</h5>
   
      

    <hr>
    
   
    
    
</div>