<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card my-2">
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-6"></div>
    <div class="col-6">
      <div class="card my-2">
        <div class="card-body text-end">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
  
  <form class="form-inline">
    <div class="form-group mr-3">
      <textarea rows="5" class="form-control" id="InputAsk"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">送信</button>
  </form>
</div>
